<header id="header" class="header d-flex align-items-center light-background sticky-top">
  <div class="container position-relative d-flex align-items-center justify-content-between">

    <!-- <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
      <img src="assets/img/logo.webp" alt="">
      <h1 class="sitename">FolioOne</h1> 
    </a> -->

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/" class="<%= page === 'Home' ? 'active' : '' %>">Home</a></li>
        <li><a href="/About" class="<%= page === 'About' ? 'active' : '' %>">About</a></li>
        <li><a href="/Resume" class="<%= page === 'Resume' ? 'active' : '' %>">Resume</a></li>
        <li><a href="/Services" class="<%= page === 'Services' ? 'active' : '' %>">Services</a></li>
        <li><a href="/Portfolio" class="<%= page === 'Portfolio' ? 'active' : '' %>">Portfolio</a></li>
        <li><a href="/Contact" class="<%= page === 'Contact' ? 'active' : '' %>">Contact</a></li>

        <!-- <li><a href="/" class="active">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Resume">Resume</a></li>
                <li><a href="/Services">Services</a></li>
                <li><a href="/Portfolio">Portfolio</a></li>
                <li><a href="/Contact">Contact</a></li> -->
        <!-- <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li> -->

      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <div class="header-social-links">
      <!-- <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a> -->
      <!-- <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> -->
      <a href="https://www.instagram.com/invites/contact/?utm_source=ig_contact_invite&utm_medium=copy_link&utm_content=kmgmhxo"
        class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/in/b-venkata-jitendra-reddy" class="linkedin"><i class="bi bi-linkedin"></i></a>
      <a href="https://github.com/B-Venkata-Jitendra-Reddy" class="github"><i class="bi bi-github"></i></a>

    </div>

  </div>
</header>